ul li{
    color: rgb(175, 175, 175);
}

.selected{
    color: black;
}

.left-section{
    color: black;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    border: 1px solid green;
    padding: 20px;
}