.formElement{
    margin: 10px;
}

.main-section{
    color: black;
    width: 500px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 20px;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    #leftBar {
        display: none;

        padding: 0px;
    }

        .main-section {
            border-radius: 0px;
            width: 100%;
            margin: 0px;
            padding: 20px;
        }
}