.formElement{
    margin: 10px;
}

.main-section{
    box-shadow: 0px 0px 10px 2px #ffc86a;
    color: black;
    width: 500px;
    border: 1px solid #eb9300;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    margin-left: 20px;
    padding: 20px;
}