.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fullsize{
    height: 100%;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

h1,h2 {
    padding: 0px;
    margin: 0px;
}

.grow{
    flex-grow: 1;
}